@page "/"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager 
@inject OrderState OrderState

<div class="main">
    <h1>Blazing Pizzas says hi!</h1>
    <ul class = "pizza-cards">

        @if( specials!= null ){
            @foreach (var sp in specials)
            {
                
                <li @onclick="@( () => OrderState.ShowConfigureDialog(sp) )" style = "background-image: url('@sp.ImageUrl')" >
                    <div class = "pizza-info"> 
                        <span class="title"> @sp.Name </span>
                        @sp.Description
                        <span class="price"> @sp.GetFormattedBasePrice() </span>
                    </div>
                </li>
            }
        }
    </ul>

</div>


<PizzaOrders order=@OrderState.Order orderstate=@OrderState/>

@if(OrderState.ShowingConfigureDialog){
    <ConfigurePizzaDialog Pizza=@OrderState.ConfiguringPizza OnCancel=@OrderState.CancelConfigurePizzaDialog OnConfirm=@OrderState.ConfirmConfigurePizzaDialog />
}


		

@code{ 

    List<PizzaSpecial> specials = new(); 
    protected override async Task OnInitializedAsync()
    {
        specials = await HttpClient.GetFromJsonAsync< List< PizzaSpecial >>(NavigationManager.BaseUri + "specials");  
        
    }


    
    

}

